<nav class="navbar navbar-expand-sm sticky-top mb-3" style="background-color: black;">
    <ul class="navbar-nav w-100 d-flex justify-content-between align-items-center">
        <li class="nav-item" style="width:33%;">
            <a class="btn btn-outline-primary mr-1" href="{{ path('listComicsAsAdmin') }}">Cómics</a>
            <a class="btn btn-outline-primary mr-1" href="{{ path('listUsersAsAdmin') }}">Usuarios</a>
        </li>
        <li class="nav-item">
            <h1 class="align-center mr-3">PANEL DE ADMINISTRACIÓN</h1>
        </li>
        <li class="nav-item" style="width:33%;">
            <a class="btn btn-outline-primary mr-1 float-right" href="{{ path('index') }}">Salir</a>
        </li>
    </ul>
</nav>