{% extends "base.html.twig" %}

{% block title %}ComicWebStore{% endblock %}

{% block body %}
    <a href="{{ path('users') }}" class="btn btn-primary">Iniciar sesión como administrador</a>
{% endblock %}