{% extends 'public/base.html.twig' %}
{% block body %}
    {% include 'public/navbar.html.twig' %}
    <div class="card-deck">
        <div class="card">
            <div class="card-img-top" src="">
            </div>
        </div>
    </div>
{% endblock %}
