{% extends "public/base.html.twig" %}

{% block title %}ComicWebStore{% endblock %}

{% block body %}
    {% include 'public/navbar.html.twig' %}

    <a href="{{ path('listComicsAsAdmin') }}" class="btn btn-primary">Iniciar sesión como administrador</a>
{% endblock %}
